.content-box {
  max-width: 1686px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 43px;
  box-sizing: border-box;
  @media (max-width: 768px) {
    padding: 0 15px;
  }
  @media (max-width: 480px) {
    padding: 0 16px;
  }

  @media (max-width: 1024px) {
    padding: 0 16px;
  }
}

.mt-20 {
  margin-top: 20px;
}

.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateY(-10px);
  opacity: 0;
}
